@charset "UTF-8";
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'KyoboHand';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/KyoboHand.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*전체 서식*/
*{
	 text-decoration : none;
	 font-family : "Pretendard-Regular";
	 color : black;
	 border : none;
	}
	

/*헤더*/
.header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 2%;
}

/*상단메뉴*/
nav{
	padding : 30px;
}

.nav-text {
	padding: 10px;
}

 .header .nav-text:hover {
 	text-decoration: underline;
 }

/*로고*/
.logo{
	display: flex;
	content-align: center;
	align-items: center;
}

/*로고 이미지*/
.logo .logo-img{
	width : 4vw;  /*뷰포트 넓이의 4%*/
	padding : 10px;
	max-width: 100px;
    min-width: 50px;
}

/*로고 텍스트*/
.logo .logo-text{
	font-family : "KyoboHand";
	color : #f0a235;
	font-size: 2.5vw; /*뷰포트 넓이의 2.5%*/
	max-font-size: 70px;
    min-font-size: 50px;
    padding : 2px;
}

/*메인 이미지*/
.main-image {
    width: 35vw;
    height: auto;
    margin-left: 5%;
    border-radius: 30px;
    border: 0.5px solid #E6E6E6;
}


/*제출 버튼(통합)*/
.submit-button{
	width: 35vw;
	background-color: #f0a235;
	color: #fff;
	height: 5vh;
	margin-bottom: 10px;
}

/*input 박스*/
input {
	width: 35vw;
	height: 5vh;	
	display: flex;
	align-items: flex-start;
	background-color: #E6E6E6;
	border-radius: 5px;
	margin-bottom: 5px;
}

.submit-button:hover{
	cursor: pointer;
}

/*버튼속성 양식*/
[type=button]{
	background-color: #f8f8f8;
	border-radius: 4px;
	border: 1px solid #CCC;
	color: #333333;
}

[type=button]:hover{
	cursor: pointer;
}

[type=button]:active {
    background-color: #DDDDDD; 
    border-color: #AAA;
}

/*로그인 화면*/
.index-area .other-link {
	text-decoration: underline;
}

.main{
	display: flex;
	justify-content: space-around;
}

.index-area{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-size: 14px;
	color: #D8D8D8;
}

.index-area .input-area{
	text-align: left;
}

.srch-link{
	margin-top: 15px;
	margin-bottom: 8px;
}

.index-area .title-text{
	font-size: 25px;
	margin-bottom: 30px;
}


/*회원가입 화면*/
.join-area{
	display : flex;
	flex-direction: column;
	margin-bottom: 10vh;
}

.join-form .tag-name{
	text-align: left;
}

.tag-name{
	display: block;
	text-align: left;
}

/*피드 메뉴 로고*/
.nav-logo{
	display: flex;
	content-align: center;
	align-items: center;
}

.nav-logo .logo-img{
	width : 2vw;  /*뷰포트 넓이의 2%*/
	padding : 8px;
	max-width: 80px;
    min-width: 20px;
}

.nav-logo .nav-logo-text{
	font-family : "KyoboHand";
	color : #f0a235;
	font-size: 1.5vw; /*뷰포트 넓이의 1.5%*/
	max-font-size: 70px;
    min-font-size: 12px;
    padding : 1px;
}

/*피드 메뉴 양식*/
.side-menu{
	height: 100vh;
	width:15vw;
	border-right: solid 0.5px #E6E6E6;
}

.menu-list{
	font-weight: bold;
	display: flex;
	flex-direction: column;
	padding-left: 8px;
	padding-top: 50px;
}

.icon-img{
	width: 25px; 
	padding-right: 10px;
}

.one-menu{
	display: flex;
	padding-bottom: 15px;
	padding-top: 15px;
}

.menu-link{
	display: block;
	height: 100%;
	width: 100%;
}

/*메뉴 프로필*/
.profile{
	margin-top: 40px;
	display: flex;
    align-items: center;
	gap: 10px;
}

.profile-frame{
	background-color: #E6E6E6;
	height: 5vw;
	width: 5vw;
	border-radius: 50%;
	overflow: hidden; /*나중에 사진 들어가면 깔끔하게 잘리게*/
}



/*메인 피드*/
.container{
	display: flex;
	height: 100vh;
}

