<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
		<settings>
			<setting name="jdbcTypeForNull" value="NULL" />
		</settings>
		
		<typeAliases>
			<typeAlias type="kr.or.iei.member.model.vo.Member" alias="member"/>
			<typeAlias type="kr.or.iei.kakao.model.vo.KakaoUser" alias="kakaoUser"/>
			<typeAlias type="kr.or.iei.naver.model.vo.NaverUser" alias="naverUser"/>
			<typeAlias type="kr.or.iei.post.model.vo.Post" alias="post"/>
			<typeAlias type="kr.or.iei.member.model.vo.HashTag" alias="hashTag"/>
			<typeAlias type="kr.or.iei.member.model.vo.Search" alias="search"/>
			<typeAlias type="kr.or.iei.follor.model.vo.Follow" alias="follow"/>
		</typeAliases>

</configuration>
