<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="post">
	
	<!-- 게시물 데이터 조회 -->
	<select id="postUserImg" parameterType="_int"
	resultType="post">
		
		select post_file_no as postFileNo,
			   f.post_no as postNo,
			   post_file_name as postFileName
	      from post_file f
		 join post p on (f.post_no = p.post_no)	  
		 where p.user_no = ${_parameter}    		
	</select>
	
</mapper>
