<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="report">

	<!-- 신고 생성 -->
	<insert id="insertReport" parameterType="report">
		INSERT INTO report (report_no, user_no, target_no, target_type, report_reason)
		VALUES (seq_report.nextval, #{userNo}, #{targetNo}, #{targetType}, #{reportReason})
	</insert>
	
	<!-- 신고조회 -->
	<select id="reportList" resultType="report">
		select report_no as reportNo, 
				 user_no as userNo, 
				 target_no as targetNo, 
				 target_type as targetType, 
				 report_reason as reportReason
		 from report
	</select>
	
	
</mapper>
