<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="story">
	
	<!-- 내 스토리 정보 -->
	<select id="selectMyStory" parameterType="string" resultType="storyFollowList">
		SELECT user_no AS userNo,
			   user_nickName AS userNickname,
			   user_image AS userImage
		  FROM tbl_user
		 WHERE user_no = #{_parameter}
	</select>
	
	<!-- 내 스토리 파일 정보 -->
	<select id="selectMyStoryFile" parameterType="string" resultType="storyFile">
		SELECT s.user_no AS userNo,
			   s.story_no AS storyNo,
			   sf.story_file_no AS storyFileNo,
			   sf.story_file_name AS storyFileName,
			   sf.mime_type AS mimeType,
			   s.create_date AS storyCreateDate
		  FROM story s
		  JOIN story_file sf ON s.story_no = sf.story_no
		 WHERE s.user_no = #{_parameter}
		   AND s.create_date >= SYSDATE - 1
	  ORDER BY s.create_date DESC
	</select>
	
	<!-- 팔로우 유저중 스토리 올린 유저 정보 -->
	<select id="selectStoryFollowList" parameterType="string" resultType="storyFollowList">
		SELECT u.user_no AS userNo,
			   u.user_nickname AS userNickname,
			   u.user_image AS userImage
		  FROM follow f
		  JOIN tbl_user u ON f.following_no = u.user_no
		  JOIN story s    ON u.user_no      = s.user_no
		 WHERE f.follower_no = #{_parameter}
		   AND s.create_date >= SYSDATE - 1
	  GROUP BY u.user_no, u.user_nickname, u.user_image
	  ORDER BY MAX(s.create_date) DESC
	</select>
	
	<!-- 스토리 올린 유저의 올린 파일들 -->
	<select id="selectStoryFileList" parameterType="string" resultType="storyFile">
		SELECT s.user_no AS userNo,
			   s.story_no AS storyNo,
			   sf.story_file_no AS storyFileNo,
			   sf.story_file_name AS storyFileName,
			   sf.mime_type AS mimeType,
			   s.create_date AS storyCreateDate
		  FROM story s
		  JOIN story_file sf ON s.story_no = sf.story_no
		 WHERE s.user_no IN (
			   SELECT DISTINCT u.user_no
				 FROM follow      f
				 JOIN tbl_user    u ON f.following_no = u.user_no
				 JOIN story       st ON u.user_no = st.user_no
				WHERE f.follower_no = #{_parameter}
				  AND st.create_date >= SYSDATE - 1
			   )
		   AND s.create_date >= SYSDATE - 1
	  ORDER BY s.create_date DESC
	</select>
	
	<!-- 스토리 고유번호 생성 -->
	<select id="selectStoryNo" resultType="int">
		SELECT seq_story.nextval FROM dual
	</select>
	
	<!-- 스토리 생성 -->
	<insert id="insertStory" parameterType="map">
		INSERT INTO story (story_no, user_no, create_date, end_date)
			 VALUES (#{storyNo}, #{userNo}, SYSDATE, SYSDATE+1)
	</insert>
	
	<!-- 스토리 파일 생성 -->
	<insert id="insertStoryFile" parameterType="map">
		INSERT INTO story_file (story_file_no, story_no, story_file_name, mime_type)
			 VALUES (seq_story_file.nextval, #{storyNo}, #{storyFileName}, #{mimeType})
	</insert>
	
	<!-- 스토리 삭제 -->
	<delete id="deleteStory" parameterType="string">
		DELETE FROM story
		 WHERE story_no = #{_parameter}
	</delete>
	
	<!-- 만료된 스토리 삭제 -->
	<delete id="deleteExpiredStory">
		DELETE FROM story
        WHERE SYSDATE >= end_date
	</delete>
	
</mapper>
